
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <title>Account Verification</title> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
    <link href="~/css/_identitylayout.css" rel="stylesheet" />
    <link href="~/css/wave_background.css" rel="stylesheet" />
    @await RenderSectionAsync("Links", required: false)
</head>

<body>
    <div class="loader">
        <div class="loader-style">
            <div class="spinner-center mb-3">
                <div class="loader-spinner"></div>
            </div>
            <h3 class="loader-text">Loading...</h3>
        </div>
    </div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    @* <div class="area">
    <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    </div> *@
   @*<div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div> *@
    <div class="content">
        @* <div class="context mt-2">
        <h4>Hino Motors Manufacturing (Thailand) Ltd.</h4>
        </div> *@
        <div class="identity-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/fontawesome/js/all.min.js"></script>
    <script src="~/sweetalert/sweetalert.js"></script>
    <script src="~/js/_formvalidator.js"></script>
    <script src="~/js/_identitylayout.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @* @await Html.PartialAsync("_Alert") *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>